<section class="about-page">

    <h1>About Me</h1>

    <p>

        I'm a software engineer and game developer studying at BCIT.

        My work includes:

    </p>

    <ul>

        <li>Game Development</li>
        <li>Custom Game Engines</li>
        <li>AI Projects</li>
        <li>Music Production</li>

    </ul>

</section>