<div class="video-card">

    <div class="video-container">

        <iframe src="https://www.youtube.com/embed/<%= video.youtube_id %>" title="<%= video.title %>" frameborder="0"
            allowfullscreen>
        </iframe>

    </div>

    <div class="video-info">

        <h3>
            <%= video.title %>
        </h3>

        <p>
            <%= video.description %>
        </p>

    </div>

</div>